.advantages{
    margin-bottom:115px;
    &-item:nth-child(even) {
        flex-direction:row-reverse;
        @include tablet{
            flex-direction:column;
        }
    }
    &-list{
        display:flex;
        flex-direction:column;
        row-gap:clamp(60px,11.8vw,200px);
        @include mobile{
            row-gap:60px;
        }
    }
    &-item{
        @include flex-center;
        column-gap:100px;
        @include tablet{
            flex-direction:column;
            row-gap:30px;
        }
    }

    &_content{
        max-width:480px;
        display:flex;
        flex-direction:column;
        row-gap:20px;
        
    }
    
}