.features{
    margin-bottom: 220px;
    
    &__main{
        @include flex-center(true);
        padding-bottom: 80px;
        flex-direction:column;
        row-gap:30px;
        &-title{
            display:flex;
            justify-content:center;
            align-items:center;
        }
        &-subtitle{
            padding-inline:60px;
            text-align:center;
            line-height: 1.5;
        }
    }

    &__examples{
        &-list{
            display:flex;
            justify-content: center;
            column-gap:20px;
        }
        &-item{
            max-width:380px;
            display:flex;
            flex-direction:column;
            row-gap:20px;
        }
        &-image-container{
            @include flex-center(true);
        }
        &-title{
            text-align:center;
            font-size: 16px;
        }
        &-subtitle{
            text-align:center;
            line-height:1.4;
        }
    }

}

.features__examples{
    
    &-list{
        display:flex;
        column-gap:20px;
    }
}
